# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.a*
*.b*
*.d*
*.e*
*.f*
*.g*
*.i*
*.j*
*.k*
*.l*
*.m*
*.n*
*.o*
*.p*
*.q*
*.r*
*.s*
*.t*
*.u*
*.v*
*.w*
*.x*
*.y*
*.z*

boot_loader/*
docs/*
driverlib/*
gcc/*
inc/*
IQmath/*
sensorlib/*
third_party/*
tools/*
usblib/*
utils/*
